<!DOCTYPE html>
<html>
<head>
  <title>Campsites</title>
  <link rel="stylesheet" href="/app.css" />
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
  <nav class="top-bar">
        <ul class="title-area">
            <li class="name"><h1><a href="/">Home</a></h1></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href='#'>About</a></li>
            <li><a href='#'>Contact</a></li>
          </ul>
        </section>
        <img src="http://www.textfiles.com/underconstruction/Hollow7752Construction.gif">
      </nav>
  <div class="row">
  <div class="large-3 columns">
    <form action="/" method="post">
    <div class="panel">
    <h4>Select a state:</h4>
    <select name="state">
      <option value="Alabama">Alabama</option>
      <option value="Alaska">Alaska</option>
      <option value="Arizona">Arizona</option>
      <option value="Arkansas">Arkansas</option>
      <option value="California">California</option>
      <option value="Colorado">Colorado</option>
      <option value="Connecticut">Connecticut</option>
      <option value="Delaware">Delaware</option>
      <option value="District Of Columbia">District Of Columbia</option>
      <option value="Florida">Florida</option>
      <option value="Georgia">Georgia</option>
      <option value="Hawaii">Hawaii</option>
      <option value="Idaho">Idaho</option>
      <option value="Illinois">Illinois</option>
      <option value="Indiana">Indiana</option>
      <option value="Iowa">Iowa</option>
      <option value="Kansas">Kansas</option>
      <option value="Kentucky">Kentucky</option>
      <option value="Louisiana">Louisiana</option>
      <option value="Maine">Maine</option>
      <option value="Maryland">Maryland</option>
      <option value="Massachusetts">Massachusetts</option>
      <option value="Michigan">Michigan</option>
      <option value="Minnesota">Minnesota</option>
      <option value="Mississippi">Mississippi</option>
      <option value="Missouri">Missouri</option>
      <option value="Montana">Montana</option>
      <option value="Nebraska">Nebraska</option>
      <option value="Nevada">Nevada</option>
      <option value="New Hampshire">New Hampshire</option>
      <option value="New Jersey">New Jersey</option>
      <option value="New Mexico">New Mexico</option>
      <option value="New York">New York</option>
      <option value="North Carolina">North Carolina</option>
      <option value="North Dakota">North Dakota</option>
      <option value="Ohio">Ohio</option>
      <option value="Oklahoma">Oklahoma</option>
      <option value="Oregon">Oregon</option>
      <option value="Pennsylvania">Pennsylvania</option>
      <option value="Rhode Island">Rhode Island</option>
      <option value="South Carolina">South Carolina</option>
      <option value="South Dakota">South Dakota</option>
      <option value="Tennessee">Tennessee</option>
      <option value="Texas">Texas</option>
      <option value="Utah">Utah</option>
      <option value="Vermont">Vermont</option>
      <option value="Virginia">Virginia</option>
      <option value="Washington">Washington</option>
      <option value="West Virginia">West Virginia</option>
      <option value="Wisconsin">Wisconsin</option>
      <option value="Wyoming">Wyoming</option>
    </select>
     <h4>Select an activity:</h4>
      <input type="radio" name="activity" value="hiking" checked="checked" />Hiking<br />
      <input type="radio" name="activity" value="mountain%20biking"/>Mountain biking<br />
      <input type="radio" name="activity" value="snow%20sport" />Snow sports<br />
      <input type="radio" name="activity" value="caving" />Caving<br />
      <input type="radio" name="activity" value="camping" />Camping<br />

      <input type="submit" class="tiny button" value="Submit" />
    </form>
    </div>
  </div>

  <div class="large-6 columns">
  <div class="panel" >
    <% campsites["places"].each do |parse| %>
        <% name = parse["name"].gsub('/', '@$') %>
      <h5><a href="/<%= name %>"><%= parse["name"] %></a></h5>
      <ul>
        <%= "#{parse["city"]}, #{parse["state"]}" %><br>
        <%= parse["country"] %>
      </ul>
    <% end %>
  </div>
  </div>
  <div class="large-3 columns">
  something
  </div>
  </div>


  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
